body {
    background-color: black;
    color: white;
    font-family: "Audiowide", sans-serif;
    margin: 0;
    height: 100vh;
    overflow: hidden;
}

span[role=button] {
    cursor: pointer;
    background-color: gray;
    border-radius: 5px;
    display: block;
    text-align: center;
}

h1 {
    text-align: center;
}

a {
    font-size: 14px;
    display: block;
    margin-bottom: 5px;
    color: gray;
}

a:hover {
    color: white;
}

form input {
    background-color: transparent;
    color: white;
    text-align: center;
    border: 0;
    border-radius: 5px;
    outline: gray solid 2px;
}

form input:focus {
    outline: white solid 2px;
}

form span {
    width: 60%;
    margin: 0 auto;
}

.tokenView {
    display: none;
    gap: 10px;
}