body {
    background-color: black;
    color: white;
    font-family: "Audiowide", sans-serif;
}

span[role=button] {
    cursor: pointer;
    background-color: gray;
    border-radius: 5px;
    display: block;
    text-align: center;
}

form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 300px;
}
form input, form span {
    width: 100%;
    padding: 10px 0;
    margin-bottom: 10px;
}

h1 {
    text-align: center;
}

a {
    font-size: 14px;
    text-decoration: none;
    display: block;
    margin-bottom: 5px;
    color: darkblue;
}

form input {
    background-color: transparent;
    color: white;
    text-align: center;
    border: 0;
    border-radius: 5px;
    outline: gray solid 2px;
}

form input:focus {
    outline: white solid 2px;
}

form span {
    width: 60%;
    margin: 0 auto;
}

.userPassView {
    display: none;
}

.tokenView {
    display: flex;
    gap: 10px
}