nav {
    background-color: #123456;
    display: flex;
    justify-content: end;
    gap: 20px;
    padding: 5px;
}

span[role=button] {
    padding: 10px;
}

.user {
    position: absolute;
    left: 100%;
    transform: translateX(-100%);
    background-color: #234567;    
    display: none;
    width: 174px;
    padding: 7px;
}

img {
    width: 100%;
}

.twoFactorVerified {
    color: green;
}

.twoFactorVerification {
    display: none;
}

.twoFactorVerification input {
    display: block;
    width: 100px;
    margin: 0 auto;
}

.twoFactorVerification span[role=button] {
    width: 72px;
    font-size: 0.9em;
    padding: 5px;
    margin-top: 5px;
}